[Unit]
Description=Asymptote HTTP REST Runner
After=network.target
StartLimitBurst=3
StartLimitIntervalSec=10

[Service]
Type=simple
User=asymptote
Restart=always
RestartSec=1
ExecStart=python3 /opt/asyrunner/runner.py --port 10007 --timeout 120


[Install]
WantedBy=multi-user.target