[Unit]
Description=Asymptote HTTP REST Server
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Environment="ASYMPTOTE_USER=asymptote"
Environment="ASYMPTOTE_GROUP=asymptote"
ExecStart=python3 /usr/local/share/asyserver/server.py --port 10007 --timeout 120
User=asymptote
WorkingDirectory=/usr/local/share/asyserver
RestartSec=1
Restart=on-failure


[Install]
WantedBy=multi-user.target